@media screen and (max-width: 1350px)
    .container 
        max-width: 1200px !important
    .main .tabs__nav a
        width: 24.5%
    .main__item
        overflow: hidden
    .main__pic 
        bottom: -18px
        right: -15px    
    .main__content p
        max-width: 300px
    .area__images 
        width: 47%
        height: 500px
    .header__info .tabs__nav a p
        font-size: 15px
    h1 
        font-size: 43px
    .form .form__label
        font-size: 15px
    .main .tabs__nav a:before
        background: url(/img/ram2.svg) no-repeat center center
        top: -1px
        left: 0px
        width: calc(100% + -0.5px)
        height: calc(100% + 2px)
    .footer .pad
        left: 0
@media screen and (max-width: 1199px)
    .main .tabs__nav a:before
        background: url(/img/ram3.svg) no-repeat center center
    input, textarea, select
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
    .container 
        max-width: 960px !important
    .nav__item p
        display: none
    .header__wrap
        flex-direction: column-reverse
    .header__info
        max-width: 100% 
        margin-bottom: 8px
    .header__content
        max-width: 100%
    .header
        margin-bottom: 80px
    h2 
        font-size: 42px
    .main .tabs__nav
        margin-bottom: 32px
        padding: 0 5px
    .top
        margin-bottom: 32px
    .main__content h3
        font-size: 21px
    .main__pic 
        bottom: -34px
        right: -15px
        width: 46%
    .main
        padding-bottom: 80px
    .news .swiper2
        overflow: visible
    .news
        padding-bottom: 80px
    .news .link
        left: 0
    .area__link p
        font-size: 25px
        line-height: 120%
    .area__scale
        max-height: 340px
        margin-top: 0
    .area__images
        height: 400px
    .area
        padding-bottom: 80px
    .geo 
        padding-bottom: 90px
    .footer__content 
        margin-right: 0
    .footer__bottom
        padding-right: 0
    .menu
        width: 100%
        left: 0
        margin-left: 0
        height: 90.5vh
    .form__flex .form__group 
        width: 49.5%
    .form__flex.active .form__group:nth-child(n+3) 
        display: block
        width: 32.5%
    .main .tabs__nav a div
        flex: 1 0 auto 
        max-width: 56px
@media ( max-width: 991px )
    input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
    .container 
        max-width: 720px !important
    .menu-btn p
        display: none
    .menu-btn
        width: 44px
        flex: 1 0 auto 
        max-width: 44px
        height: 44px
        margin-right: 16px
        &:before 
            margin-right: 0
    .nav__logo
        padding-left: 0
        width: 141px
        &:before 
            display: none
    .nav__item
        &:first-child
            display: none
    .menu__main li a
        font-size: 30px
        line-height: 120%
    .footer__tel
        line-height: 110%
        font-size: 24px
    .menu__info 
        flex-direction: column
        align-items: flex-start
    .menu__info .footer__mail
        margin-bottom: 10px
    h1 
        font-size: 35px
    .main .tabs__nav a
        height: 64px
        padding: 0 8px 0 16px
        width: max-content
        min-width: 207px
        margin-right: 8px
    .main .tabs__nav a div
        height: 48px
        width: 48px
        flex: 1 0 auto 
        max-width: 48px
    .main .tabs__nav
        overflow-x: auto
    .main__item
        width: 100%
    .main .tabs__nav .tabs__btn_active:nth-child(4):before
        left: 0
    .area .sub
        margin-bottom: 33px
    .area__scale, .area__images
        display: none
    .area__link
        width: 100%
        height: 164px
        justify-content: space-between
        padding: 12px
        border-radius: 8px
        align-items: start
        background: rgba(240, 240, 240, 1)
        position: relative
        margin-bottom: 8px
        img 
            display: block
            width: 152px
            border-radius: 8px
            overflow: hidden
            height: 100%
            object-fit: cover
        &:after 
            content: ""
            display: block
            width: 48px
            height: 48px
            position: absolute
            bottom: 12px
            left: 12px
            background: url(/img/mobb.svg) no-repeat center center
    .area__content, .area__wrapper, .area__info
        width: 100%
    .area__link p
        font-size: 18px
    .sub p
        font-size: 16px
        margin-left: 12px
    h2 
        font-size: 36px
    .geo .wrap #map
        position: relative
        top: 0
        height: 400px
        margin-top: 8px
    .geo .geo__block
        width: 100%
        margin-top: 0
        margin-left: 0
        border: 1px solid rgba(234, 234, 234, 1)
        border-radius: 8px
    .geo__block form, .geo__item
        padding: 12px
    .geo__block form input
        padding-bottom: 0px
        &:focus 
            border: none !important
    .geo__block form button
        left: 10px
        top: 13px
    .geo__item:last-child
        margin-bottom: 0
        padding-bottom: 0
    .geo .geo__slider .swiper-slide, .geo .swiper4 .swiper-slide
        max-width: inherit
    .geo .geo__details-content, .geo__back
        padding: 12px
    .geo
        padding-bottom: 80px
    .footer__box
        flex-direction: column-reverse
    .footer__info
        max-width: 100%
        position: relative
        margin-top: 48px
        padding-bottom: 75px
    .footer__info span
        margin-bottom: 12px
    .footer 
        .footer__mail
            margin-bottom: 24px
        .footer__links
            position: absolute
            bottom: 0
            left: 0
            margin-bottom: 0
    .footer__bottom
        flex-direction: column
        align-items: flex-start
        padding: 12px 0
        margin-top: 40px
    .footer__bottom span, .footer__bottom a, .footer__bottom p
        margin-bottom: 8px
    .nav__el a, .nav__enter
        color: transparent !important
        width: 44px
        height: 44px
        border-radius: 8px
        background:  rgba(240, 240, 240, 1)
        padding: 0
    .nav__enter
        margin-left: 8px
        img
            margin-right: 0
            position: relative
            left: 29px
    .nav__item_2
        padding: 0
    .nav__el a img
        margin-right: 0
        position: relative
        left: 16px
    .nav__item_2:after, .nav__item:before
        display: none
    .nav
        padding: 12px 0
    .main .tabs__nav a:before 
        background: url(/img/ram4.svg) no-repeat center center
@media screen and (max-width: 767px)
    button:active, button:focus 
      outline: none
    .container 
        max-width: 540px !important
    .menu__left
        padding: 12px
        position: relative
        z-index: 9
        width: 100%
    .menu
        top: 69px
        flex-direction: column
    .menu__main li
        padding: 12px 0 
        margin-bottom: 0
        border-bottom: 1px solid rgba(234, 234, 234, 1)
        a
            font-size: 24px
    .menu__main li:after
        right: 12px
    .menu__list
        margin-top: 24px
    .menu__area 
        position: relative
        width: 100%
    .menu__right
        padding: 12px
        width: 100%
        position: absolute
        z-index: -1
        left: 0
        top: 0
        pointer-events: none 
        &.active 
            z-index: 10
            background: white 
            pointer-events: inherit
    .menu__back
        display: none
        align-items: center
        background: transparent
        border: none 
        color: rgba(125, 125, 137, 1)
        font-size: 14px
        font-weight: 400
        line-height: 17px
        padding-bottom: 14px
        width: 100%
        border-bottom: 1px solid rgba(234, 234, 234, 1)
        margin-bottom: 14px
        .svg 
            margin-right: 12px
            width: 18px
        &.visible 
            display: flex
    .menu__main li:hover a, .menu__main li.active a
        border-bottom: none
    .form button
        height: 48px
        font-size: 16px
    .form input
        font-size: 14px
    .form__info p
        font-size: 24px
    .form__switch
        margin-bottom: 15px
    .header__pic
        margin: 0 auto 35px
    h1 
        font-size: 24px
        line-height: 29px
    .header__content .swiper1 h1
        margin-bottom: 12px
    .header__content .swiper1 p
        margin-bottom: 24px
    .btn 
        height: 48px
        font-size: 16px
    .header__content .swiper1
        .swiper-slide 
            a 
                width: 167px
    .arrow
        width: 48px
        height: 48px
    .header__content
        padding: 20px 12px 12px
    .header__nav
        bottom: 12px
        right: 12px
    .top
        flex-direction: column 
        align-items: flex-start
    .sub
        margin-bottom: 17px
    h2 
        font-size: 32px
        line-height: 38px
    .main__pic
        position: relative
        bottom: 0
        right: 0
        margin-left: auto
        display: block
        width: 65%
    .main__item
        padding: 12px 0px
        height: auto
    .main__content
        padding: 0 12px
        height: auto
    .main__content a
        margin-top: 24px
    .news .swiper2 .swiper-slide
        height: 300px
        a
            height: 300px
            padding: 12px
    .news .swiper2
        margin-bottom: 32px
    .ymaps-2-1-79-image 
        background-size: 100% !important
        width: 48px !important
        height: 54px !important
    .footer__content
        flex-direction: column
        width: 100%
    .footer__area
        margin-left: 0
    .footer__item
        margin-bottom: 0
        p 
            padding: 12px 0
            transition: 0.5s
            margin-bottom: 0
            border-bottom: 1px solid rgba(255, 255, 255, 0.15)
            position: relative
            &:after 
                content: ""
                display: block
                width: 18px
                height: 17px
                background: url(/img/plus.svg) no-repeat center center  
                position: absolute
                right: 0px
                top: 50% 
                margin-top: -9px
        &.open 
            padding-bottom: 12px
            border-bottom: 1px solid rgba(255, 255, 255, 0.15)
            p 
                margin-bottom: 12px
                &:after 
                    background: url(/img/minus.svg) no-repeat center center  
    .form input
        height: 48px
@media screen and (max-width: 576px)
    button:active, button:focus 
        outline: none
    button::-moz-focus-inner 
        border: 0
    a:active, a:focus
        outline: none
    input, textarea
        outline: none
    input:active, textarea:active
        outline: none
    input:focusout
        outline: none
    .mm 
        flex-direction: column 
        align-items: center
        justify-content: center
    .li 
        margin-bottom: 40px !important
        width: 100% !important
        margin-top: 0 !important
    .mob 
        display: block !important
    button:focus, a:focus, .nav__el a, .nav__enter
        outline: none !important
    .container 
        padding: 0 12px
    .header__info .tabs__nav
        margin-bottom: 16px
    .form input
        height: 48px
    .menu__main li:after
        right: 0
    .header__info
        padding: 16px 12px
    .header__pic
        width: 82%
    .main__pic 
        width: 90%
    .main__content
        padding-top: 5px
    .area__link img
        flex: 1 0 auto 
        max-width: 152px
    .underline:hover::after
        display: none
    .geo .arrows div p
        font-size: 12px
    .geo .arrows
        padding: 0
    .geo .geo__slider .swiper-slide span, .geo .swiper4 .swiper-slide span
        font-size: 10px
    .geo .geo__slider .swiper-slide small, .geo .swiper4 .swiper-slide small
        font-size: 10px
    .geo
        padding-bottom: 60px
    .footer__bottom
        margin-top: 30px
    .form .form__label
        font-size: 14px
        top: 52%
    .form__flex .form__group
        width: 49%
    .form__flex.active .form__group:nth-child(n+3)
        width: 100%
    .geo__top
        padding: 8px
        p
            font-size: 14px
